<html>
    <head>
        <title>Ike and Jenna's Amazing Vacation Tracker</title>
    </head>
    <body>
        <h1>You created a new amazing list</h1>
        <ul>
            <div>
                <li>{{ newplace.getPhoto}}</li>
                <li>{{ newplace.getCityName}}</li>
                <li>{{ newplace.getVisitLength}}</li>
            </div>
        </ul>
        <p><a href='/'>View your entire amazing list.</a></p>
    </body>
</html>
