<html>
    <head>
        <title>Ike and Jenna's Amazing Vacation Tracker</title>
    </head>
    <body>
        <h1>Amazing list cleared!</h1>
        <p><a href='/'>Home</a></p>
    </body>
</html>
