<html>
    <head>
        <title>Ike and Jenna's Amazing Vacation Tracker</title>
    </head>
    <body>
        <h1>The Amazing Vacation Tracker</h1>

        {% if places is not empty %}
            <p>Here are all the amazing places you've been:</p>
                <ul>
                    {% for place in places %}
                        <div>
                            <li>{{ place.getPhoto}}</li>
                            <li>{{ place.getCityName}}</li>
                            <li>{{ place.getVisitLength}}</li>
                        </div>
                    {% endfor %}
                </ul>
        {% endif %}

        <form action='/places' method='post'>
            <div class='form-group'>
                <label for='cityname'>What amazing city did you visit?!</label>
                <input type='text' name='cityname' id='cityname' class='form-control'>
            </div>
            <div class='form-group'>
                <label for='visitlength'>How long did you stay in the amazing city?</label>
                <input type='text' name='visitlength' id='visitlength' class='form-control'>
            </div>
            <div class='form-group'>
                <label for='photo'>Upload an amazing picture!!!!</label>
                <input type='file' name='photo' id='photo' accept='image/*'>
                <input type='submit'>
            </div>
        </form>
    </body>
</html>
